.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
    /* border: 1px solid blue; */
    margin-top: 5px;
    display: flex;
}

.column {
  flex-grow: 1;
  flex-basis: 50%;
  /* border: 1px solid red; */
  padding: 5px;
  margin: 0;
}